.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login-image {
  width: 800px;
  height: 900px;
}

.login-form {
  flex: 1;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 48px;
}

.login-header {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}


.form-group {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 480px; /* Set the width to match the login button */
  margin-bottom: 20px;
}

/* Default styles */
.login-header h2 {
  color: #21272A;
  font-size: 42px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  line-height: 46.2px;
}

.form-group label {
  color: black;
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 24px;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .login-header h2,
  .form-group label {
    color: white;
  }
}

.form-group input {
  padding: 8px 12px;
  border: 1px solid #D4D4D4;
  border-radius: 6px;
  font-size: 16px;
  font-family: Inter, sans-serif;
  color: #A3A3A3;
  width: 100%; /* Ensure the input fields take the full width of the form group */
}

.login-button {
  width: 480px; /* Decrease the width of the login button */
  height: 54px;
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.login-button-background {
  width: 100%;
  height: 54px;
  position: absolute;
  background: #0369A1;
  border-radius: 16px;
}

.login-button-foreground {
  width: 100%;
  height: 49.09px;
  position: absolute;
  background: #0EA5E9;
  border-radius: 16px;
}

.login-button-text {
  color: white;
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
  z-index: 1; /* Ensure the text is above the background layers */
}